<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <h2 class="text-success text-center">Registration Form</h2>
        <div class="col-10">
            <form [formGroup]="resgistrationForm">
                {{resgistrationForm.value | json}}

                <div class="form-group mb-3">
                    <label for="name">Name</label>
                    <input [class.is-invalid]="username.invalid && username.touched " formControlName="name" type="text"
                        class="form-control" placeholder="your name exemple wajdi" name="name" id="name" required>

                    <!-- <small class="text-danger"
                        [class.d-none]="resgistrationForm.controls.name.untouched || resgistrationForm.controls.name.valid ">
                        name is
                        required {{resgistrationForm.controls.name.invalid}}</small> -->
                    <div *ngIf="username.touched && username.invalid ">
                        <small *ngIf="username.errors?.['required']" class="text-danger">
                            user name is required
                        </small>
                        <small class="text-danger" *ngIf="username.errors?.['minlength']">
                            user name a least 3 caractére
                        </small>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="password">password</label>
                    <input formControlName="password"
                        [class.is-invalid]="resgistrationForm.controls.password.invalid && resgistrationForm.controls.password.touched"
                        type="password" class="form-control" name="password" id="password" required>
                    <small class="text-danger"
                        [class.d-none]="resgistrationForm.controls.password.valid || resgistrationForm.controls.password.untouched">password
                        required</small>

                </div>
                <div class="form-group mb-3">
                    <label for="confirmpassword">Confirm Password</label>
                    <input formControlName="ConfirmPassword" type="password" class="form-control" name="confirmpassword"
                        id="confirmpassword" required
                        [class.is-invalid]="resgistrationForm.controls.ConfirmPassword.invalid && 
                        resgistrationForm.controls.ConfirmPassword.touched && 
                        (resgistrationForm.controls.ConfirmPassword.value != resgistrationForm.controls.password.value)">
                    <small class="text-danger"
                        [class.d-none]="(resgistrationForm.controls.ConfirmPassword.value ==resgistrationForm.controls.password.value) &&
                         resgistrationForm.controls.ConfirmPassword.valid || resgistrationForm.controls.ConfirmPassword.touched">password
                        do not match</small>
                </div>
                <div formGroupName="adresse">
                    <div class="form-group">
                        <label for="city">city</label>
                        <input class="form-control" formControlName="city" placeholder="rue *** resident ***">
                    </div>
                    <div class="form-group">
                        <label for="state">state</label>
                        <input class="form-control" formControlName="state" placeholder="state">
                    </div>
                    <div class="form-group mb-3">
                        <label for="CodePostale">Code Postale</label>
                        <input class="form-control" formControlName="CodePostale" placeholder="****">
                    </div>
                </div>
                <button (click)="onSubmit()" class="mb-5 btn btn-primary w-100" id="btnRgister">Register</button>
                <button (click)="onLoad()" class="mb-5 btn btn-danger w-100" id="btnApi">Load Api Data</button>
            </form>
        </div>
    </div>
</div>